name: e2e-test

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      # https://github.com/pubky/pubky-stack
      PUBKY_STACK_REF: fc32a86b072715c2261a553e50509acf68b19091
    strategy:
      fail-fast: false
      matrix:
        browser: [chrome, firefox, webkit]

    steps:
      - name: Checkout this repository
        uses: actions/checkout@v4
        with:
          path: franky

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: 'franky/.nvmrc'
          cache: 'npm'
          cache-dependency-path: 'franky/package-lock.json'

      - name: Checkout pubky-stack
        uses: actions/checkout@v4
        with:
          repository: pubky/pubky-stack
          ref: ${{ env.PUBKY_STACK_REF }}
          path: pubky-stack
          submodules: true
          token: ${{ secrets.READ_REPOS }}
          # cannot use ssh-key (deploy key) for private submodules due to the
          # limitation where only a single key can be used per repo checkout
          # see https://github.com/actions/checkout/issues/183

      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: |
            franky/node_modules
            franky/.next/cache
          key: ${{ runner.os }}-node-${{ hashFiles('franky/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Cache Playwright browsers
        if: ${{ matrix.browser == 'webkit' }}
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ hashFiles('franky/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-playwright-

      - name: Cache Next.js build
        uses: actions/cache@v4
        with:
          path: |
            franky/.next
          key: ${{ runner.os }}-nextjs-${{ hashFiles('franky/package-lock.json', 'franky/src/**/*.{js,jsx,ts,tsx}', 'franky/public/**', 'franky/next.config.ts', 'franky/tailwind.config.*', 'franky/postcss.config.*') }}
          restore-keys: |
            ${{ runner.os }}-nextjs-

      # reduce neo4j memory to prevent
      # ERROR Invalid memory configuration - exceeds physical memory. Check the configured values for server.memory.pagecache.size and server.memory.heap.max_size
      - name: Modify neo4j.env
        working-directory: pubky-stack/docker
        run: |
          sed -i 's/NEO4J_server_memory_pagecache_size=2G/NEO4J_server_memory_pagecache_size=1G/' neo4j.env
          sed -i 's/NEO4J_server_memory_heap_initial__size=4G/NEO4J_server_memory_heap_initial__size=1G/' neo4j.env
          sed -i 's/NEO4J_server_memory_heap_max__size=8G/NEO4J_server_memory_heap_max__size=2G/' neo4j.env

      - name: Prepare pubky-stack .env
        working-directory: pubky-stack/docker
        run: |
          cp .env-sample .env

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker layer caching
        uses: actions/cache@v4
        with:
          path: |
            /tmp/.buildx-cache-nexus
            /tmp/.buildx-cache-homeserver
          key: ${{ runner.os }}-pubky-stack-${{ env.PUBKY_STACK_REF }}

      - name: Build pubky-nexus
        uses: docker/build-push-action@v5
        with:
          context: pubky-stack/pubky-nexus
          load: true
          tags: |
            nexusd:latest
          cache-from: type=local,src=/tmp/.buildx-cache-nexus
          cache-to: type=local,dest=/tmp/.buildx-cache-nexus-new,mode=max

      - name: Build homeserver
        uses: docker/build-push-action@v5
        with:
          context: pubky-stack/pubky-core
          load: true
          tags: homeserver:latest
          cache-from: type=local,src=/tmp/.buildx-cache-homeserver
          cache-to: type=local,dest=/tmp/.buildx-cache-homeserver-new,mode=max

      # Overwrite old cache to prevent growing size, see https://github.com/docker/build-push-action/issues/252
      - name: Overwrite old cache
        run: |
          rm -rf /tmp/.buildx-cache-nexus
          mv /tmp/.buildx-cache-nexus-new /tmp/.buildx-cache-nexus
          rm -rf /tmp/.buildx-cache-homeserver
          mv /tmp/.buildx-cache-homeserver-new /tmp/.buildx-cache-homeserver

      - name: Run pubky-stack
        working-directory: pubky-stack/docker
        run: docker compose up -d nexusd nexus-redis nexus-neo4j homeserver

      - name: Build Franky frontend
        working-directory: franky
        run: |
          cat > .env << EOF
          NEXT_PUBLIC_DB_VERSION=1
          NEXT_PUBLIC_SYNC_TTL=300000
          NEXT_PUBLIC_DEBUG_MODE=false
          NEXT_PUBLIC_TTL_POST_MS=4000
          NEXT_PUBLIC_TTL_USER_MS=600000
          NEXT_PUBLIC_HOMESERVER=8pinxxgqs41n4aididenw5apqp1urfmzdztr8jt4abrkdn435ewo
          NEXT_PUBLIC_NEXUS_URL=http://localhost:8080
          NEXT_PUBLIC_TESTNET=true
          NEXT_PUBLIC_DEFAULT_HTTP_RELAY=http://localhost:15412/link/
          NEXT_PUBLIC_HOMESERVER_ADMIN_URL=http://localhost:6288/generate_signup_token
          NEXT_PUBLIC_HOMESERVER_ADMIN_PASSWORD=admin
          NEXT_PUBLIC_MODERATION_ID=euwmq57zefw5ynnkhh37b3gcmhs7g3cptdbw1doaxj1pbmzp3wro
          NEXT_PUBLIC_MODERATED_TAGS=["adult_nu_sex_act"]
          BASE_URL_SUPPORT=${{ secrets.BASE_URL_SUPPORT }}
          SUPPORT_API_ACCESS_TOKEN=${{ secrets.SUPPORT_API_ACCESS_TOKEN }}
          SUPPORT_ACCOUNT_ID=1
          SUPPORT_FEEDBACK_INBOX_ID=${{ secrets.SUPPORT_FEEDBACK_INBOX_ID }}
          EOF
          npm ci
          npm run build

      - name: Install WebKit for Safari testing
        if: ${{ matrix.browser == 'webkit' }}
        run: |
          npm install playwright-webkit --save-dev
          npx playwright install-deps webkit

      - name: Wait for dockerised pubky-stack to start
        run: |
          PORT=8080
          MAX_WAIT=300     # Maximum wait time in seconds (5 minutes)
          WAIT_INTERVAL=5  # Interval between checks in seconds
          ELAPSED=0

          while ! curl -s http://localhost:$PORT; do
            if [ $ELAPSED -ge $MAX_WAIT ]; then
              echo "Service did not start within 5 minutes."
              exit 1
            fi
            echo "Waiting for service on port $PORT to be ready... ($ELAPSED seconds elapsed)"
            sleep $WAIT_INTERVAL
            ELAPSED=$((ELAPSED + WAIT_INTERVAL))
          done

          echo "Service is ready."

      - name: Run e2e tests - Desktop (${{ matrix.browser }})
        id: test-desktop
        uses: cypress-io/github-action@v6
        env:
          DEBUG: '@cypress/github-action'
        with:
          working-directory: franky/cypress
          config-file: cypress.config.ts
          spec: e2e/**/*.cy.ts
          browser: ${{ matrix.browser }}
          headed: false
          summary-title: ${{ matrix.browser }} - Desktop
          install: false
          start: npm run start
          wait-on: 'http://localhost:3000'
          wait-on-timeout: 180

      - name: Upload screenshots - ${{ matrix.browser }} - Desktop
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: screenshots-${{ matrix.browser }}-desktop
          path: franky/cypress/screenshots
          if-no-files-found: ignore

      - name: Upload video for onboarding test - ${{ matrix.browser }} - Desktop
        if: always() && steps.test-desktop.outcome == 'failure'
        uses: actions/upload-artifact@v4
        continue-on-error: true
        with:
          name: video-${{ matrix.browser }}-desktop-onboarding
          path: franky/cypress/videos/onboarding.cy.ts.mp4
          if-no-files-found: ignore

      - name: Upload video for contacts test - ${{ matrix.browser }} - Desktop
        if: always() && steps.test-desktop.outcome == 'failure'
        uses: actions/upload-artifact@v4
        continue-on-error: true
        with:
          name: video-${{ matrix.browser }}-desktop-contacts
          path: franky/cypress/videos/contacts.cy.ts.mp4
          if-no-files-found: ignore

      - name: Upload video for posts test - ${{ matrix.browser }} - Desktop
        if: always() && steps.test-desktop.outcome == 'failure'
        uses: actions/upload-artifact@v4
        continue-on-error: true
        with:
          name: video-${{ matrix.browser }}-desktop-posts
          path: franky/cypress/videos/posts.cy.ts.mp4
          if-no-files-found: ignore

      - name: Upload video for notifications test - ${{ matrix.browser }} - Desktop
        if: always() && steps.test-desktop.outcome == 'failure'
        uses: actions/upload-artifact@v4
        continue-on-error: true
        with:
          name: video-${{ matrix.browser }}-desktop-notifications
          path: franky/cypress/videos/notifications.cy.ts.mp4
          if-no-files-found: ignore

      # TODO: Skipped due to bug https://github.com/pubky/franky/issues/372
      # - name: Run e2e tests - Mobile (${{ matrix.browser }})
      #   id: test-mobile
      #   uses: cypress-io/github-action@v6
      #   env:
      #     DEBUG: '@cypress/github-action'
      #   with:
      #     working-directory: franky/cypress
      #     config-file: cypress.config.mobile.ts
      #     spec: e2e/**/*.cy.ts
      #     browser: ${{ matrix.browser }}
      #     headed: false
      #     summary-title: ${{ matrix.browser }} - Mobile
      #     install: false
      #     # no need to start the server, it's already running
      #     wait-on: 'http://localhost:3000'
      #     wait-on-timeout: 180

      - name: Upload screenshots - ${{ matrix.browser }} - Mobile
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: screenshots-${{ matrix.browser }}-mobile
          path: franky/cypress/screenshots/mobile
          if-no-files-found: ignore

      - name: Upload video for onboarding test - ${{ matrix.browser }} - Mobile
        if: always() && steps.test-mobile.outcome == 'failure'
        uses: actions/upload-artifact@v4
        continue-on-error: true
        with:
          name: video-${{ matrix.browser }}-mobile-onboarding
          path: franky/cypress/videos/mobile/onboarding.cy.ts.mp4
          if-no-files-found: ignore

      - name: Upload video for contacts test - ${{ matrix.browser }} - Mobile
        if: always() && steps.test-mobile.outcome == 'failure'
        uses: actions/upload-artifact@v4
        continue-on-error: true
        with:
          name: video-${{ matrix.browser }}-mobile-contacts
          path: franky/cypress/videos/mobile/contacts.cy.ts.mp4
          if-no-files-found: ignore

      - name: Upload video for posts test - ${{ matrix.browser }} - Mobile
        if: always() && steps.test-mobile.outcome == 'failure'
        uses: actions/upload-artifact@v4
        continue-on-error: true
        with:
          name: video-${{ matrix.browser }}-mobile-posts
          path: franky/cypress/videos/mobile/posts.cy.ts.mp4
          if-no-files-found: ignore

      - name: Upload video for notifications test - ${{ matrix.browser }} - Mobile
        if: always() && steps.test-mobile.outcome == 'failure'
        uses: actions/upload-artifact@v4
        continue-on-error: true
        with:
          name: video-${{ matrix.browser }}-mobile-notifications
          path: franky/cypress/videos/mobile/notifications.cy.ts.mp4
          if-no-files-found: ignore

      - name: Upload cypress.log
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        continue-on-error: true
        with:
          name: cypress-log-${{ matrix.browser }}
          path: franky/cypress/cypress.log
          if-no-files-found: ignore

      - name: Dump docker logs on failure
        if: failure()
        uses: jwalton/gh-docker-logs@v2
